@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  --accent: #ad408e;
  --accent2: #f6a9c1;
  --black: #121414;
  --blacker: #0d0e0e;
  --white: #e8e6e3;
  --blue: #408ce3;
  --dark-blue: #2062ad;
  @apply flex min-h-full w-full px-1 max-w-[720px] flex-col font-mono mx-auto
  bg-[var(--black)] text-[var(--white)]
  selection:bg-[var(--white)] selection:bg-opacity-70 selection:text-[var(--black)]
  text-base;
}
/* {
  --accent: #ad408e;
  --black: #121414;
  --blacker: #0d0e0e;
  --white: #e8e6e3;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
} */
@font-face {
  font-family: "Hack-Regular";
  /* src: url('/fonts/SauceCodeProNerdFont-SemiBold.ttf') format('truetype'); */
  src: url("/fonts/Hack-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@layer base {
  .a,
  .prose a {
    @apply no-underline text-[var(--blue)];
  }
  .a:hover,
  .prose a:hover {
    @apply text-[var(--accent)];
  }
  /* .a:visited, .prose a:visited {
    @apply text-[var(--accent)];    
  } */
  .prose *:not(a) {
    @apply text-[var(--white)];
  }
  /* .a,
  a:visited,
  a:hover,
  .prose a,
  .prose a:visited,
  .prose a:hover {
    @apply outline-2 outline-offset-1 no-underline visited:text-[var(--blue)] hover:text-[var(--accent)] text-[var(--blue)];
  }
  .prose a {
    @apply text-[var(--blue)];
  }
  .prose *:not(a) {
  } */
}
.prose {
  @apply prose-img:rounded-xl
  min-w-full max-w-none
  text-sm leading-5;
}
mark,
.prose mark {
  @apply bg-[var(--white)] text-[var(--black)]
  selection:bg-[var(--black)] selection:bg-opacity-70 selection:text-[var(--white)];
}
.input {
  @apply bg-[var(--blacker)]
  text-[var(--white)];
}
/* h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
} */
/* strong,
b {
  font-weight: 700;
}
p {
  margin-bottom: 1em;
} */

/* textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: var(--blacker);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
} */
