---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Tag from "../../components/Tags.astro";

const posts = await getCollection("blog");

const uniqueTags = Array.from(new Set(posts.flatMap(post => post.data.tags)));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Tag tags={uniqueTags} />
    </main>
    <Footer />
  </body>
</html>
