---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="text-center">
  <div class="inline-block text-left">
    <pre>___   ___  ________  ___   ___      </pre>
    <pre>|\  \ |\  \|\   __  \|\  \ |\  \    </pre>
    <pre>\ \  \\_\  \ \  \|\  \ \  \\_\  \   </pre>
    <pre> \ \______  \ \  \\\  \ \______  \  </pre>
    <pre>  \|_____|\  \ \  \\\  \|_____|\  \ </pre>
    <pre>         \ \__\ \_______\     \ \__\</pre>
    <pre>          \|__|\|_______|      \|__|</pre>
    <br />
    <p>404: page not found</p>
    <a class="a" href="/">go home</a>
  </div>
</BaseLayout>
