---
import SearchBar from "../components/SearchBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="prose">
  <h1>hi</h1>
  <p>i am swomf.</p>
  <p>
    i write things sometimes. and on rare occasion, those things might be
    readable.
  </p>
  <SearchBar />
  <p>or <a href="/blog">see them all</a>.</p>
</BaseLayout>
