---
import { SITE_TITLE } from "../consts";
const urlSegments = Astro.url.pathname.split("/");
const activeNav = urlSegments.slice(1, 2)[0] || "";
---

<header
  class="my-2 rounded-xl flex p-2 flex-col items-center justify-between sm:flex-row
bg-[var(--blacker)] w-full"
>
  <nav class="flex justify-between items-center w-full px-2">
    <a href="/">{SITE_TITLE}</a>
    <div>
      <a href="/" class={activeNav === "" ? "active" : ""}>home</a>
      <a href="/tags" class={activeNav === "tags" ? "active" : ""}>tags</a>
      <a href="/blog" class={activeNav === "blog" ? "active" : ""}>blog</a>
    </div>
  </nav>
</header>
<style>
  nav a {
    @apply inline-block text-[var(--white)] p-0 text-sm hover:text-[var(--accent)];
  }
  nav a.active {
    @apply border-b-4 border-b-[var(--accent)];
  }
</style>
