---
interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;
---

<style>
  .tag-entry a {
    @apply inline-block mb-2 mr-2 rounded bg-[#333333] px-2 text-xs p-0.5 text-[var(--white)] transition-colors duration-200 ease-in-out hover:bg-[#4d4d4d];
  }
</style>

<div class="flex flex-wrap ml-0.5 p-0">
  {
    tags.map(tag => (
      <li class="tag-entry list-none">
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</div>
